@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Colors */
  --VioletColor: hsl(263, 55%, 52%);
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --VeryDarkBlackishBlue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --LightGray: hsl(0, 0%, 81%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
  /* Padding */
  --PADDING-SIDE: 2.5%;
  --PADDING-TB: 0.25em;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 20px;
  font-size: 15px;
}

.container {
  width: 90%;
  max-width: 1200px;
  background-color: var(--LightGrayishBlue);
  overflow: hidden;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 20px; /* Added margin-bottom for space at the bottom */
  display: grid;
  place-items: center;
}

.cards {
  position: relative;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    height: 100vh;
  }
}

.card {
  text-align: left;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem; /* Ensure all cards have consistent border radius */
}

.cards img {
  border-radius: 50%;
}

.details {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 1rem;
  margin-left: 2rem;
  padding-left: 2.2rem;
}

.name,
.tag {
  margin: 0.2rem 0;
}

.card-daniel {
  background-color: var(--VioletColor);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-position: top right 20px;
  background-repeat: no-repeat;
  background-size: 100px;
  position: relative;
  @media (min-width: 1024px) {
    grid-column: 1/3;
  }
}
.card-daniel .name {
  color: #e0c4e9;
}
.card-daniel .tag {
  color: hsla(285, 46%, 84%, 0.5);
}
.quotes {
  line-height: 1.5;
}
.card-daniel > .quotes {
  color: hsla(285, 46%, 84%, 0.7);
}

.card-jonathan {
  background-color: var(--VeryDarkGrayishBlue);
  position: relative;
}
.card-jonathan .name {
  color: #e0e4e7;
}
.card-jonathan .tag {
  color: hsla(206, 13%, 89%, 0.5);
}
.card-jonathan > .quotes {
  color: hsla(206, 13%, 89%, 0.7);
}

.card-jeanette {
  position: relative;
  background-color: var(--White);
  border-radius: 1rem; /* Ensure consistent border radius */
  @media (min-width: 1024px) {
    grid-column: 1/2;
  }
}
.card-jeanette .name {
  color: #80848e;
}
.card-jeanette .tag {
  color: hsla(223, 6%, 53%, 0.5);
}
.card-jeanette > .review {
  color: #60646c;
}
.card-jeanette > .quotes {
  color: hsla(223, 6%, 53%, 0.7);
}

.card-patrick {
  position: relative;
  background-color: var(--VeryDarkBlackishBlue);
  border-radius: 1rem; /* Ensure consistent border radius */
  @media (min-width: 1024px) {
    grid-column: 2/4;
  }
}
.card-patrick .name {
  color: #cbcfd7;
}
.card-patrick .tag {
  color: hsla(220, 13%, 82%, 0.5);
}
.card-patrick > .quotes {
  color: hsla(220, 13%, 82%, 0.7);
}

.card-kira {
  position: relative;
  background-color: var(--White);
  border-radius: 1rem; /* Ensure consistent border radius */
  @media (min-width: 1024px) {
    grid-column: 4/5;
    grid-row: 1/3;
    font-size: 14px;
  }
}
.card-kira .name {
  color: #60646c;
}
.card-kira .tag {
  color: hsla(220, 6%, 40%, 0.5);
}
.card-kira > .review {
  color: #60646c;
}
.card-kira > .quotes {
  color: hsla(220, 6%, 40%, 0.7);
}

.review {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  color: var(--White);
  line-height: 1.5;
}

footer {
  text-align: center;
  margin-top: 1rem;
}

.copy {
  color: rebeccapurple;
}

/* @media (min-width: 1024px) {
  body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    max-width: 1300px;
    /* margin: auto 0; */

/* .cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
  }
  .card-daniel {
    background-color: var(--VioletColor);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-position: top right 20px;
    background-repeat: no-repeat;
    background-size: 100px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .card-jonathan {
    background-color: var(--VeryDarkGrayishBlue);
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  .card-kira {
    background-color: var(--White);
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
  .card-jeanette {
    background-color: var(--White);
    grid-column: 4 / 5;
    grid-row: 1 / 4;
  }
  .card-patrick {
    background-color: var(--VeryDarkBlackishBlue);
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
} */
